v-container(style="max-width:500px")
    v-card(v-if="loading")
        v-card-title
            v-progress-circular(indeterminate :width="3" color="green")
    v-card(v-if="!loading && order")
        v-card-title
            v-layout.align-center(column)
                span.headline.blue--text {{ `Заказ #${order.id}` }}
                span.headline.pink--text {{ order.created }} (UTC)
                strong(v-if="currentUser.is_admin").green--text.text--darken-3 {{ order ? order.fio : '' }}
                a.green--text.text--darken-3(v-if="order.email", :href="'mailto:' + order.email") {{ order.email }}
                a.green--text.text--darken-3(v-if="order.email", :href="'tel:' + order.phone") {{ order.phone }}
        v-card-text
            v-layout.products-list(column)
                v-layout(column, v-for="(product, index) in order.items", :key="product.id")
                    v-divider(v-if="index > 0")
                    v-container.products-list__row(grid-list-md)
                        v-layout(row align-center)
                            v-flex(style="max-width:48px")
                                v-avatar(size="40")
                                    img(:src="product.file_path ? product.file_path : '/pictures/no_image.png'")
                            v-flex
                                strong.products-list__title {{ product.title}}
                                div
                                    strong.black--text {{ product.quantity }}
                                    span &nbsp;* {{ product.price }} = {{ Math.round(product.quantity * product.price * 100) / 100 }}
                .headline.text-xs-right(style="width:100%") {{ calculateTotal() }}

