div
    v-card(v-if="loading")
        v-card-title
            v-progress-circular(indeterminate :width="3" color="green")
    v-container.orders(fill-height v-if="!loading")
        v-layout(column)
            v-flex
                v-data-table.elevation-1(:headers="headers", :items="orders", hide-actions, no-data-text="Пусто")
                    template(slot="items", slot-scope="props")
                        td.text-xs-center {{ props.item.id }}
                        td.text-xs-center {{ props.item.created }} (UTC)
                        td(:class="{'grey--text': !props.item.user}" v-if="currentUser.is_admin").hidden-xs-only {{ getFio(props.item.user) }}
                        td.text-xs-center {{ props.item.total = calculateTotal(props.item) }}
                        td
                            v-btn(icon @click="show(props.item)")
                                v-icon help_outline
            v-flex.pager(v-if="pagesTotal > 1")
                .text-xs-center
                    v-card-text.pager__card__text
                        v-pagination(
                            :length="pagesTotal",
                            :total-visible="5",
                            v-model="page"
                        )
            v-flex(v-if="!orders.length")
                v-layout(row, justify-center)
                    v-btn(color="info", @click="$router.push('/')") Закажите что-нибудь
        v-dialog(v-model="dialog" max-width="800")
            v-card
                v-card-title(primary-title)
                    v-layout(column)
                        h3.headline.pink--text {{ `Заказ #${currentOrder.id}` }} от {{ currentOrder ? currentOrder.created : '' }} (UTC)
                        strong(v-if="currentUser.is_admin").green--text.text--darken-3 {{ currentOrder ? currentOrder.fio : '' }}
                        a.green--text.text--darken-3(v-if="currentOrder.email", :href="'mailto:' + currentOrder.email") {{ currentOrder.email }}
                        a.green--text.text--darken-3(v-if="currentOrder.email", :href="'tel:' + currentOrder.phone") {{ currentOrder.phone }}
                        v-layout.products-list(column)
                            v-layout(column, v-for="(product, index) in currentOrder.items", :key="product.id")
                                v-divider(v-if="index > 0")
                                v-container.products-list__row(grid-list-md)
                                    v-layout(row align-center)
                                        v-flex(style="max-width:48px")
                                            v-avatar(size="40")
                                                img(:src="product.file_path ? product.file_path : '/pictures/no_image.png'")
                                        v-flex
                                            strong.products-list__title {{ product.title}}
                                            div
                                                strong.black--text {{ product.quantity }}
                                                span &nbsp;* {{ product.price }} = {{ Math.round(product.quantity * product.price * 100) / 100 }}
                    .headline.text-xs-right(style="width:100%") {{ currentOrder.total }}
                v-card-actions
                    v-spacer
                    v-btn(flat @click.native="dialog = false") Закрыть
