.input-group
    min-width 238px

.list__tile--link
    & div
        overflow: visible;
    &.active
        background-color #B3E5FC

        & .list__tile__title
            font-weight bold !important

.list__group__items .active
    background-color #E1F5FE

    & .list__tile__title
        font-weight bold !important
