v-app#inspire
    v-navigation-drawer(fixed, :clipped='$vuetify.breakpoint.lgAndUp', app, v-model='drawer')
        v-list(dense)
            template
                v-list-tile(@click="$router.push('/')", :class="getMenuItemClass('/', true)").list__tile--link
                    v-list-tile-action
                        v-icon home
                    v-list-tile-content
                        v-list-tile-title Заглавная
                v-list-group(prepend-icon="view_list", :class="getMenuItemClass('category_id=')")
                    v-list-tile(slot='activator')
                        v-list-tile-content
                            v-list-tile-title Каталог
                    v-list-tile(v-for='category in categories', :key="category.id", @click="goCategory(category)", :class="getMenuListItemClass(category)")
                        v-list-tile-action
                            v-icon keyboard_arrow_right
                        v-list-tile-content
                            v-list-tile-title {{ category.title }}
                v-list-tile(@click="$router.push('/contacts')", :class="getMenuItemClass('/contacts')").list__tile--link
                    v-list-tile-action
                        v-icon contacts
                    v-list-tile-content
                        v-list-tile-title Контакты
                v-list-tile(@click="$router.push('/feedback')", :class="getMenuItemClass('/feedback')").list__tile--link
                    v-list-tile-action
                        v-icon email
                    v-list-tile-content
                        v-list-tile-title Написать нам
                v-list-tile(@click="$router.push('/cart')", :class="getMenuItemClass('/cart')").list__tile--link
                    v-list-tile-action
                        v-icon shopping_cart
                    v-list-tile-content
                        v-list-tile-title
                            v-badge.cart-badge
                                span(slot="badge") {{ cartProductsAmount }}
                                span Корзина
    v-toolbar(color='blue darken-3', dark, app, :clipped-left='$vuetify.breakpoint.lgAndUp', fixed)
        v-toolbar-side-icon(@click.stop='drawer = !drawer')
        v-toolbar-title(:class="$route.name === 'products' ? 'hidden-xs-only' : ''") Магазин
        v-spacer
        v-text-field(
            flat,
            solo-inverted,
            prepend-icon='search',
            label='Поиск',
            @input="search",
            v-if="$route.path.includes('products', 1)"
        )
        v-spacer
        v-menu(bottom left)
            v-btn(icon slot="activator")
                v-icon person
            v-list
                v-list-tile(v-if="currentUser" @click="$router.push('/panel')")
                    v-list-tile-title Личный кабинет
                v-list-tile(@click="lkAction")
                    v-list-tile-title {{ currentUser ? 'Выход' : 'Вход' }}
    v-content.grey.lighten-3
        router-view
    v-btn.mb-2(v-if="$route.name !== 'cart'" color="pink" dark fab fixed bottom right @click="$router.push('/cart')")
        v-icon shopping_cart
    v-footer(color="indigo" app)
        span
            router-link.white--text(to="/feedback") Написать нам
        v-spacer
        span.white--text {{ currentUser ? currentUser.first_name + ' ' + currentUser.second_name : '' }}
