v-card
    v-card-text(@click="show(product)")
        product-view(:product="product")
    v-card-actions
        v-tooltip(bottom v-if="!isProductAdded(product)")
            v-btn(icon flat color="info", slot="activator", @click="addProductToCart(product)")
                v-icon shopping_cart
            span Добавить в корзину
        v-tooltip(bottom v-if="isProductAdded(product)")
            v-btn.pink--text(icon, flat, slot="activator", @click="removeProductFromCart(product)")
                v-icon remove_shopping_cart
            span Убрать из корзины
        v-tooltip(bottom)
            v-btn(icon, flat, slot="activator", @click="show(product)")
                v-icon help_outline
            span Описание
        v-spacer
        span.title {{ product.price }}
        img(src="/pictures/ruble-currency-sign.svg" height="17")
