v-container(grid-list-md)
    v-layout(row wrap)
        v-flex(xs12 sm4)
            v-card
                v-card-text
                    .title.text-xs-center Всего заказов
                    .text-xs-center.display-3 {{ ordersCount }}
        v-flex(xs12 sm4 v-if="currentUser.is_admin")
            v-card
                v-card-text
                    .title Штуки
                    v-btn(color="purple accent-1", @click="$router.push('/panel/product')") Добавить товар
