v-container.products(fill-height)
    v-layout(column)
        v-flex(v-if="loading")
            v-card
                v-card-text.text-xs-center.pa-3
                    v-progress-circular(indeterminate, :width="3", color="green")
        v-flex(v-if="!loading")
            v-layout(column, v-for="topProduct in topProducts", :key="topProduct.id")
                v-flex
                    v-card.mt-2(full-width, color="yellow lighten-5")
                        v-card-text
                            .headline.green--text.accent-4.text-xs-center
                                div {{ topProduct.title }}
                                div
                                    v-btn(flat color="info", @click="$router.push(`/products?category_id=${topProduct.id}`)") Перейти
                v-flex
                    v-container(grid-list-md)
                        v-layout(row wrap)
                            v-flex(xs12, sm6, md6, lg3, xl3, v-for="product in topProduct.products", :key="product.id")
                                product-card(:product="product", v-on:show="show")

    v-dialog(v-model="dialog", max-width="400")
        v-card(v-if="currentProduct")
            img(
                :src="currentProduct.file ? '/files/' + currentProduct.file.name + '_card.' + currentProduct.file.extension : '/pictures/no_image.png'",
                alt="picture",
                :title="currentProduct.title"
            )
            v-card-title(primary-title)
                div
                    h3.headline.mb-0 {{ currentProduct.title }}
                    div.products__card__description {{ currentProduct.description }}
            v-card-actions
                v-spacer
                v-btn(flat="flat", @click.native="dialog = false") Закрыть
