$spacer = 16px

mt-5
  margin-top ($spacer * 3) !important

py-2
  padding-left ($spacer * .5) !important
  padding-right ($spacer * .5) !important

pa-1
  padding ($spacer * .25) !important

mx-3
  margin-right $spacer !important
  margin-left $spacer !important

.cart__quantity input
    text-align center !important
    font-weight 500
    font-size 26px !important

footer
    padding 15px

.fade-enter-active, .fade-leave-active
    transition opacity .2s
.fade-enter, .fade-leave-to
    opacity 0

.card .orders-list .list__tile
    height 40px
    padding 0

.short-th
    padding 0 5px !important

.list__group__items .list__tilehover
    background #E0E0E0
    cursor pointer

.card__actions
    border-top 1px solid #ddd

.cart-badge .badge__badge
  width 18px
  height 18px
  font-size 12px
  top -5px
  right -20px


.products
  padding 5px

  & card__actions
    border-top 1px solid #ddd

  &__card__description
    margin-top 10px

  & .tooltip
    margin 0


.list__group.active .list__group__header
  background-color #B3E5FC

  & .list__tile__title
    font-weight bold !important
