v-container.categories(fill-height)
    v-layout(column)
        v-flex
            v-container(grid-list-md)
                v-layout(row wrap)
                    v-flex(xs12, sm6, md6, lg3, xl3, v-for="category in categories", :key="category.id")
                        v-card
                            v-card-title
                                .headline {{ category.title }}
                            v-card-actions
                                v-btn(flat, color="success", @click="editOrCreate(category)" icon)
                                    v-icon edit
                                v-btn(flat, color="error", @click="deleteAlert(category)", icon)
                                    v-icon delete
        v-flex.mx-auto
            v-btn(@click="editOrCreate()", color="purple accent-1") добавить
        v-flex(v-if="pagesTotal > 1")
                .text-xs-center
                    v-card-text
                        v-pagination(
                            :length="pagesTotal",
                            :total-visible="5",
                            v-model="page"
                        )
    v-dialog(v-model="formDialog", max-width="500")
        v-card
            v-card-title(primary-title) Категория
                v-container
                    div.red--text {{ errors.join(', ') }}
                    v-form
                        v-text-field(
                            name="title"
                            label="Название"
                            type="text"
                            v-model="currentCategory.title"
                            autofocus
                        )
            v-card-actions
                v-spacer
                v-btn(color="info darken-1" flat @click="save") Сохранить
                v-btn(flat @click.native="formDialog = false") Закрыть
    v-dialog(v-model="deleteDialog" max-width="500")
        v-card
            v-card-title
                .headline Удаление категории
            v-card-text Удаление категории повлечёт за собой удаление всех товаров этой категории. Вы уверены?
            v-card-actions
                v-spacer
                v-btn(color="info darken-1" flat @click="remove()") Всё равно удалить
                v-btn(flat @click.native="deleteDialog = false") Закрыть
