v-container.products(fill-height)
    v-layout(column)
        v-flex
            v-container(grid-list-md)
                v-card.products__actions
                    v-card-title
                        v-tooltip(bottom)
                            v-checkbox(color="pink darken-3", hide-details, v-model="isSelectAll", slot="activator", @change="selectAll()")
                            span Выделить всё
                        v-btn(v-if="!inactive && (isSelectAll || selected.length)", color="info", @click="inactivateSelected()") Скрыть
                        v-btn(v-if="inactive&& (isSelectAll || selected.length)", color="info", @click="activateSelected()") Проявить
                        v-btn(v-if="(isSelectAll || selected.length)", color="error", @click="deleteAllAlert()") Удалить
        v-flex
            v-container(grid-list-md)
                v-layout(row wrap)
                    v-flex(xs12, sm6, md6, lg3, xl3, v-for="product in products", :key="product.id")
                        v-card(:color="getColor(product)", v-if="(inactive && !isActive(product)) || (!inactive && isActive(product))")
                            v-card-text
                                product-view(:product="product")
                            v-card-actions
                                v-checkbox(color="pink darken-3", hide-details, v-model="selected", :value="product.id", @change="isAllSelected()")
                                v-btn(flat, color="success", @click="$router.push('/panel/product/' + product.id)", icon)
                                    v-icon edit
                                v-tooltip(bottom, v-if="!isActive(product)")
                                    v-btn(
                                        flat,
                                        color="info",
                                        @click="activate(product)",
                                        icon,
                                        slot="activator"
                                    )
                                        v-icon visibility
                                    span Проявить
                                v-tooltip(bottom, v-if="isActive(product)")
                                    v-btn(
                                        flat,
                                        color="info",
                                        @click="inactivate(product)",
                                        icon,
                                        slot="activator"
                                    )
                                        v-icon visibility_off
                                    span Скрыть
                                v-btn(flat, color="error", @click="deleteAlert(product)", icon)
                                    v-icon delete
                                v-spacer
                                span.title {{ product.price }}
                                img(src="/pictures/ruble-currency-sign.svg" height="17")
        v-flex.mx-auto(v-if="!inactive")
            v-btn(@click="$router.push('/panel/product')" color="purple accent-1") добавить
        v-flex(v-if="pagesTotal > 1")
                .text-xs-center
                    v-card-text
                        v-pagination(
                            :length="pagesTotal",
                            :total-visible="5",
                            v-model="page",
                            color="purple"
                        )
    v-dialog(v-model="deleteAllDialog", max-width="500")
        v-card
            v-card-title
                .headline Удаление товаров
            v-card-text Удаление этих несчастных товаров развоплотит их на атомы в изначальное Ничто... Чтобы вернуть их оттуда, надо будет класть поклоны великим волшебникам прошлого, а это непросто. Вы уверены?
            v-card-actions
                v-spacer
                v-btn(color="info darken-1", flat @click="deleteSelected()") Всё равно удалить
                v-btn(flat, @click.native="deleteAllDialog = false") Закрыть
    v-dialog(v-model="deleteDialog", max-width="500")
        v-card
            v-card-title
                .headline Удаление товар
            v-card-text Удаление товара развоплотит его на атомы в изначальное Ничто... Чтобы вернуть его оттуда, надо будет класть поклоны великим волшебникам прошлого, а это непросто. Вы уверены?
            v-card-actions
                v-spacer
                v-btn(color="info darken-1", flat @click="remove()") Всё равно удалить
                v-btn(flat, @click.native="deleteDialog = false") Закрыть
