v-container
    v-card
        v-card-title(primary-title)
            div
                h3 Контакты
                v-list(two-line)
                    v-list-tile
                        v-list-tile-action
                            v-icon phone
                        v-list-tile-content
                            v-list-tile-title
                                a(href="tel:89166162198") +7 (916) 616-21-98
                    v-list-tile
                        v-list-tile-action
                            v-icon email
                        v-list-tile-content
                            v-list-tile-title
                                a(href="mailto:nuts.sale@gmail.com") nuts.sale@gmail.com
