.product-card__title
    font-size 24px
    max-height 125px
    overflow hidden
    line-height 28px !important
    padding-left 14px !important

.product-card__avatar
    max-width 80px

.avatar
    background-color transparent !important
    width 80px !important
    height 80px !important
    border 1px solid #ddd

    & img
        width 100%
        height auto
