v-layout(row, align-center)
    v-flex.product-card__avatar
        v-avatar.grey.lighten-4(size='80')
            img(
                :src="product.file ? '/files/' + product.file.name + '_thumbs.' + product.file.extension : '/pictures/no_image.png'",
                alt='picture',
                :title="product.title"
            )
            img(
                v-if="product.file",
                style="display: none",
                :src="'/files/' + product.file.name + '_card.' + product.file.extension"
            )
    v-flex.product-card__title(v-html="handleTitle(product.title)")
