div
    v-card
        v-card-title
            .headline {{ id ? 'Редактирование' : 'Создание' }} товара

    v-card
        v-progress-circular(indeterminate :width="3" color="green" v-if="loading")
        v-container(fluid grid-list-lg, v-if="!loading")
            v-layout(row wrap)
                v-flex(xs12 sm2 md2 lg2 xl2)
                    v-card-media(
                        :src="file.file_path",
                        height="125px",
                        contain
                    )
                v-flex(xs12 sm10 md10 lg10 xl10)
                    div.red--text(v-html="errorsView")
                    v-form
                        attach(:file="file")
                        v-text-field(
                            name="title"
                            label="Название"
                            type="text"
                            v-model="title"
                            autofocus
                        )
                        v-text-field(
                            name="price"
                            label="Цена"
                            type="text"
                            v-model="price"
                        )
                        v-select(
                            :items='categories',
                            v-model='category_id',
                            label='Категория',
                            item-text="title"
                            item-value="id"
                            single-line
                            autocomplete
                        )
                        v-text-field(
                            name="description"
                            label="Описание"
                            type="description"
                            v-model="description"
                            multi-line
                        )
        v-card-actions(v-if="!loading")
            v-btn(color="info darken-1" flat @click="save") Сохранить
