v-app#inspire
    v-navigation-drawer(fixed, :clipped='$vuetify.breakpoint.lgAndUp', app, v-model='drawer')
        v-list(dense)
            template
                v-list-tile(@click="$router.push('/panel')").list__tile--link
                    v-list-tile-action
                        v-icon home
                    v-list-tile-content
                        v-list-tile-title Заглавная
                v-list-group(prepend-icon="view_list", v-if="currentUser.is_admin")
                    v-list-tile(slot='activator')
                        v-list-tile-content
                            v-list-tile-title Каталог
                    v-list-tile.list__tile--link(v-for='category in categories', :key='category.id', @click="goCategory(category)")
                        v-list-tile-action
                            v-icon keyboard_arrow_right
                        v-list-tile-content
                            v-list-tile-title {{ category.title }}
                v-list-tile(@click="goToInactive()", v-if="currentUser.is_admin").list__tile--link
                    v-list-tile-action
                        v-icon visibility_off
                    v-list-tile-content
                        v-list-tile-title Скрытые товары
                v-list-tile(@click="$router.push('/panel/categories')", v-if="currentUser.is_admin").list__tile--link
                    v-list-tile-action
                        v-icon collections_bookmark
                    v-list-tile-content
                        v-list-tile-title Категории
                v-list-tile(@click="$router.push('/panel/orders')").list__tile--link
                    v-list-tile-action
                        v-icon list
                    v-list-tile-content
                        v-list-tile-title Заказы
    v-toolbar(color='purple darken-3', dark, app, :clipped-left='$vuetify.breakpoint.lgAndUp', fixed)
        v-toolbar-side-icon(@click.stop='drawer = !drawer')
        v-toolbar-title Личный кабинет
        v-spacer
        v-tooltip(bottom)
            v-btn(icon slot="activator" @click="$router.push('/')")
                v-icon shop
            span В магазин
        v-menu(bottom left)
            v-btn(icon slot="activator")
                v-icon person
            v-list
                v-list-tile(@click="logout")
                    v-list-tile-title Выход
    v-content.grey.lighten-3
        router-view
    v-footer(color="purple darken-3" app)
        span.white--text © {{ (new Date()).getFullYear() }}
        v-spacer
        span.white--text {{ currentUser.first_name + ' ' + currentUser.second_name }}
