v-container(class="mb-4", style="max-width: 500px")
    v-card
        v-card-title
            .headline Обратная связь
            .mt-1.subheading Если у вас есть какие-то вопросы, пожелания или замечания, - напишите нам об этом
        v-card-text
            .red--text(v-html="errorsView")
            v-form
                v-text-field(
                    name="email"
                    label="Электропочта"
                    type="text"
                    v-model="email"
                    hide-details
                    required
                    autofocus
                )
                v-text-field(
                    name="phone"
                    label="Телефон"
                    hide-details
                    type="text"
                    v-model="phone"
                )
                v-text-field(
                    name="message"
                    label="Сообщение"
                    type="message"
                    v-model="message"
                    hide-details
                    required
                    multi-line
                )
        v-card-actions
            .subheading.green--text(v-if="success") Отправлено
            v-spacer
            v-progress-circular(indeterminate, :width="3", color="green", v-if="loading")
            v-btn(color="info darken-1", flat, @click="send", v-if="!loading") Отправить
