.products(fill-height)
    v-layout(column)
        v-flex(v-if="loading")
            v-container(grid-list-md)
                v-card
                    v-card-text
                        v-progress-circular(indeterminate, :width="3", color="green")
        v-flex(v-if="!loading")
            v-container(grid-list-md)
                v-card.mt-2(v-if="currentCategory", full-width, color="yellow lighten-5")
                    v-card-text
                        .title.text-xs-center {{ currentCategory.title }}
        v-flex
            v-container(grid-list-md)
                v-layout(row wrap)
                    v-flex(xs12, sm6, md6, lg3, xl3, v-for="product in products", :key="product.id")
                        product-card(:product="product", v-on:show="show")
        v-flex.pager.mb-5(v-if="pagesTotal > 1 && !loading")
            .text-xs-center
                v-card-text.pager__card__text
                    v-pagination(
                        :length="pagesTotal",
                        :total-visible="5",
                        v-model="page",
                    )

    v-dialog(v-model="dialog" max-width="400")
        v-card(v-if="currentProduct")
            img(
                :src="currentProduct.file ? '/files/' + currentProduct.file.name + '_card.' + currentProduct.file.extension : '/pictures/no_image.png'",
                alt="picture",
                :title="currentProduct.title"
            )
            v-card-title(primary-title)
                div
                    h3.headline.mb-0 {{ currentProduct.title }}
                    div.products__card__description {{ currentProduct.description }}
            v-card-actions
                v-spacer
                v-btn(flat="flat", @click.native="dialog = false") Закрыть
