.headline
    max-height 125px
    overflow hidden
    line-height 25px!important

.cart

    &__quantity
        padding 0

    &__quantity-container
        padding 0 14px 14px 10px

    &__actions .container
        padding 0 15px 15px 15px

    &__total-price
        height 26px

    &__products .card__text
        padding 10px 5px

    &__title .subheading
        line-height 16px

    &__image
        max-width 67px

    &__title-row
        height 56px
        overflow hidden

    &__delete-button-container
        padding-top 10px

    &__form
        padding 0

        &__container
            padding 0 16px

        &__title
            padding 16px
