div.cart
    v-container(grid-list-md)
        v-layout(row wrap)
            v-flex(xs12)
                v-card
                    v-card-text
                        .title
                            v-layout(row, align-center, v-if="products && products.length")
                                v-btn(color="info", @click="getContacts") Заказать
                                v-btn(color="error", @click="clear") Очистить
                                v-spacer
                                .headline.green--text.cart__total-price {{ total }} &nbsp;
                            div(v-if="!products || !products.length && !loading") Корзина пуста
    v-container.cart__products(grid-list-md, v-if="products && products.length")
        transition-group.layout.row.wrap(name="fade" tag="div")
            v-flex(xs12 sm6 md6 lg3 xl3 v-for="product in products", :key="product.id")
                v-card
                    v-card-text
                        product-view(:product="product")
                    v-container.cart__quantity-container
                        v-layout(row align-center)
                            v-btn(:disabled="product.quantity <= 1" icon @click="decrement(product)")
                                v-icon remove
                            v-text-field.cart__quantity(
                                :ref="`quantity-${product.id}`"
                                v-model="product.quantity"
                                flat
                                hide-details
                                @input="setProductQuantity(product)"
                            )
                            v-btn(icon @click="increment(product)")
                                v-icon add
                            v-spacer
                            .subheading.green--text {{ product.price }}
                    v-card-actions
                        .title.green--text = {{ Math.round((product.price * product.quantity) * 100) / 100 }}
                        v-spacer
                        v-btn(@click="remove(product)", color="error") Убрать
    v-dialog(v-model='dialog', lazy, absolute, max-width="700")
        v-card(v-if="success")
            v-card-title.title Заказ успешно оформлен
            v-card-text
                div В ближайшее время с вами свяжутся наши специалисты
                div
                    span
                        router-link(to="/") На главную
                    span(v-if="currentUser") &nbsp;
                        router-link(to="/panel/orders") К заказам
            v-card-actions
                v-spacer
                v-btn(flat, @click.native='dialog = false') Закрыть
        v-card(v-if="!success")
            v-card-title.cart__form__title
                .headline Контактные данные
            v-card-text.cart__form
                v-progress-circular(indeterminate :width="3" color="green" v-if="loading")
                v-container.cart__form__container
                    div.red--text(v-html="errorsView")
                    v-form
                        v-text-field(
                            name="email"
                            label="Электропочта"
                            type="text"
                            v-model="email"
                            autofocus
                            :rules="[rules.email]"
                            required
                        )
                        v-text-field(
                            name="phone"
                            label="Телефон"
                            type="text"
                            v-model="phone"
                            required
                            :rules="[rules.phone]"
                        )
            v-card-actions
                v-spacer
                v-btn(color="info", flat, @click='order') Оформить заказ
                v-btn(flat, @click.native='dialog = false') Закрыть
